html{
    background-color: #1f1f1f;
}
img{
    width: 500px;
    height: fit-content;
}
.input {
    margin: 2rem auto;
    padding: 0rem 2rem 2rem 2rem;
    width: 90%;
    max-width: 30rem;
  }
  
  .input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }
  
  .input input:focus {
    outline: none;
    border-color: #4f005f;
  }
  